html, * {
  box-sizing: border-box;
}

h1 {
    text-align: center;
    color: white;
    margin: 0px;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
    background-color: #333;
}

nav {
    text-align: center
}

.navigation {
    display:inline-flex;
    margin: 0px;
    padding: 0px;
}

li {
    background-color: #dcdcdc;
    text-align: center;
    padding: 12px 18px;
    margin: 4px;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  text-decoration: none;
}

p {
    color: white;
    background-color: #8cfecc;
    margin: 15px 20px;
    padding: 10px;
    height: 60px;
    font-size: 188%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.picture-box {
    display: inline-block;
    width: 33%;
    lign-items: center;
}

img {
    width:100%
}

.under {
    background-color: yellow;
    padding: 10px;
    margin: 5px 0px 15px 0px;
    text-align: center;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
